*{
    padding: 0;
    margin: 0;
}

.pag1 header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background: linear-gradient(to right,rgb(173, 89, 199), rgb(125, 0, 163));
    box-shadow: 0px 4px 6px #c5c5c5;
}

.pag1 p{
    text-decoration: underline;
    font-weight: 700;
    font-size: large;
}

.pag1 .btns button{
    margin: 0 5px;
    width: 100px;
    padding: 7px 12px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #6e2499;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #9137ce;
    align-self: center;
}
    
